*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
}
@font-face {
    font-family: Canopee;
    src: url(./fonts/Canopee.woff2) format(woff2);
}
@font-face {
    font-family: Editorial;
    src: url(./fonts/Editorial.woff2) format(woff2);
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: #c4bcb3;
    position: relative;
}
#nav{
    height: 110px;
    width: 100vw;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222
}

#nav img{
    height: 30px;
    width: 30%;
}
#nav h5{
    font-size:20px;
    font-weight: 100;
    width: 30%;
}

#nav i{
    width: 30%;
    text-align: end;
    font-size: 30px;
}
#elmes{
    /* background-color: red; */
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}
#elem1{
    height: 100%;
    width: 30%;
    background-color: blue;
}
#elem2{
    height: 100%;
    width: 25%;
    padding: 20px 30px;
    text-align: center;
    /* background-color: blue; */
    border-right: 3px solid #949191;
    border-left: 3px solid #949191;
}
#elem3{
    height: 100%;
    width: 30%;
    background-color: blue;
}
#elem1 #image-div{
    border: 1px solid #222;
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#elem3 #image-div{
    border: 1px solid #222;
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#image-div img{
    height: 100%;
    transition: all ease 0.7s;
    width: 100%;
    object-fit: cover;
}
#image-div:hover img{
    scale: 1.1;
}